body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    flex-direction: column;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    color: #1c1d1f;
    display: flex;
}
div {
    margin: 0px;
    padding: 0px;
}