.settings_nav {
  border: 1px solid rgb(128, 128, 128, 0.4);
  background-color: #999292;
  color: white;
  border-radius: 15px;
  padding-bottom: 10px;
}

.link:hover {
  background-color: #363333 !important;
  color: white !important;
  font-weight: 600;
  border-radius: 10px !important;
}

a.link {
  width: 100%;
  color: black;
  padding: 10px;
  background-color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
}

a.link.active {
  width: 100%;
  color: white;
  padding: 10px;
  background-color: #363333;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
}